<div class="field">
  <%= f.select :nationality,
    [
      ["Afghan", 0],
      ["Albanian", 1],
      ["Algerian", 2],
      ["American", 3],
      ["Andorran", 4],
      ["Angolan", 5],
      ["Antiguans", 6],
      ["Argentinean", 7],
      ["Armenian", 8],
      ["Japan", 7]
    ],
    class: "form-control"
  %>
</div>
<br>
