<div class="field">
  <%= f.select :nationality,
    [
      ["Afghan"],
      ["Albanian"],
      ["Algerian"],
      ["American"],
      ["Andorran"],
      ["Angolan"],
      ["Antiguans"],
      ["Argentinean"],
      ["Armenian"],
      ["Japan"]
    ],
    class: "form-control",
    :include_blank => true
  %>
</div>
<br>
