<ul>
  <% comments.each do |comment| %>
    <% unless comment.id.nil? %>
      <li>
        <p class="left"><%= profile_img(comment.user) %></p>
        <p class="left"><%= comment.user.name %> commented.</p>
        <p class="left"><%= comment.content %></p>
        <% if current_user.id == comment.user.id %>
          <p class="right">
            <%= link_to '', post_comment_path(post, comment), class: "fa fa-trash-o fa-lg", method: :delete, remote: true, data: { confirm: 'Are you sure?' } %>
          </p>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
