<div class="field">
  <%= f.select :terminal,
    [
      ["Terminal 1"],
      ["Terminal 2"],
      ["Terminal 3"],
      ["Terminal 4"],
      ["Terminal 5"],
      ["Terminal 6"],
      ["Terminal 7"],
      ["Other"]
    ],
    class: "form-control"
  %>
</div>
<br>
