<div class="field">
  <%= f.select :airport,
    [
      ["Amsterdam, AMS"],
      ["Tokyo, NRT"],
      ["Tokyo, HND"],
      ["Barcelona, BCN"],
        ],
    class: "form-control",
    :include_blank => true
  %>
</div>
<br>
