<div class="field">
  <%= f.select :purpose,
    [
      ["Casual Talk"],
      ["Travel Talk"],
      ["Business Networking"],
      ["Dating"],
      ["Other"]
    ],
    class: "form-control",
    :include_blank => true
  %>
</div>
<br>
